<div class="d-flex">
  <!-- sidebar -->
  <div id="sidebar" class="bg-dark border-right p-3">
    <h3 class="text-light">Gifs-App</h3>
    <hr class="text-white" />
    <div class="list-group list-reset">
      <a class="list-group-item list-group-item-action" href="#">Dashboard</a>
    </div>
  </div>
  <!-- fin sidebar -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar Gifs" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus nisi aperiam error, neque necessitatibus dolorum odio nam voluptates quibusdam rem animi odit blanditiis ratione magni placeat dolor minima consectetur.
      </div>
    </div>
  </div>
</div>
